rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Participants can write to production_datasets folder
    match /production_datasets/{date}/{fileName} {
      allow create: if (request.resource.contentType == 'application/json' 
                    || request.resource.contentType == 'text/csv'
                    || request.resource.contentType == 'application/csv')
                    && request.resource.size < 50 * 1024 * 1024;
    }
    
    // Only you (authenticated admin) can read everything
    match /{allPaths=**} {
      allow read: if request.auth != null && request.auth.uid == 'PIxlLCf2YITwouDQDjlvKfUwCDP2';
    }
  }
}

